# Environment secrets
.env
*.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environment
venv/
env/
.venv/

# Node modules
node_modules/
package-lock.json

# Operating system files
Thumbs.db
.DS_Store
